doctype html
html(lang="en")
    - let title = article.title
    include ./head.pug
    link(rel="stylesheet", href="/pub/essents.css")

    body
        include ./topBar.pug

        if article
            div.container
                div.row
                    div.col-12
                        div.article-title-container
                            div.article-header
                                div.category 
                                    span /#{article.category_content}
                                div.article-title
                                    div.font-weight-bold #{article.title}
                
                div.row
                    div.col-12
                        if (article.files[0])
                            - let file = article.files[0]
                            div.article-img-set(style=("background:#" + file.color))
                                - let imgUrl = file.stored === 1 ? ("/assets/" + file.name) : file.url

                                img(src=(imgUrl), alt=(article.title), srcset="")

                div.row
                    div.col-8
                        pre.article-content= article.content


                    div.col-4
                        div.left-card.p-3.mt-5
                            if (article.files[1])
                                - let file = article.files[1] 
                                div.secondary-img-content(style=("background:#" + file.color))
                                    - let imgUrl = file.stored === 1 ? ("/assets/" + file.name) : file.url
                                    img(src=(imgUrl), alt=(article.title), srcset="")

                            div.mt-2
                                p.posted-date Postado em #{article.created}

                            div.mt-4.tag-container
                                - let bgTagColor = 'var(--tag-background)'
                                if article.files[0]
                                    - bgTagColor = '#' + article.files[0].color + '50'

                                div.d-flex.flex-wrap.w-100
                                    each tag in article.keywords
                                        span.tag-content(style=("background:" + bgTagColor)) #{tag.content}


        include ./fotter